<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3><span class='label label-success'><%= flash[:alert] %></span></h3>
<h3><span class='label label-success'><%= flash[:notice] %></span></h3>
<%= yield %>

</body>
</html>
